/** favorite colors: #f04, #f00, #ed0, #0ff, #02f, #0e0, #f60, #706*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
:root {
  --white-text: #fff;
  --black-text: #000;

  --white-color: #fff;
  --black-color: #000;

  --background: linear-gradient(60deg, #4b0082, #ff4500);
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
  height: 100vh;
  color: var(--white-color);
  background-color: #212529;
  min-width: 320px;
}

div.navBar {
  background: var(--background);
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  padding: 10px 0;
}

h1.logo {
  font-size: 20px;
  color: inherit;
}

form.search input {
  width: 130px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--white-color);
  border-right: 1px solid #ffffff44;
  padding: 5px;
  outline: none;
  color: inherit;
  transition: 250ms ease-in-out;
}

form.search input::placeholder {
  color: inherit;
}

form.search button {
  cursor: pointer;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  border: none;
  color: inherit;
  border-bottom: 2px solid var(--white-color);
  padding: 5px;
  transition: 250ms ease-in-out;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 50px 0;
  margin: 0px 10px;
}

div.content p.error {
  font-size: 16px;
}

div.content p.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}

div.content p.loader:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}

div.city {
  padding: 0 10px;
}

div.city h2 {
  font-size: 18px;
  text-align: center;
  display: inline;
}

div.city img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

ul.weather {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

li.day {
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--background);
  border-radius: 5px;
  padding: 5px 5px;
}

li.day span {
  font-size: 20px;
}

li.day p {
  font-size: 15px;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 480px) {
  div.navBar {
    flex-direction: row;
    justify-content: space-around;
  }

  h1.logo {
    font-size: 25px;
  }

  form.search input {
    width: 140px;
    font-size: 18px;
  }

  form.search button {
    padding: 6px;
  }

  div.content {
    margin: 0 25px;
  }

  div.content p.error {
    font-size: 18px;
  }

  div.content p.loader {
    width: 55px;
    height: 55px;
  }

  div.content p.loader:after {
    width: 55px;
    height: 55px;
  }

  div.city {
    padding: 0 15px;
  }

  div.city h2 {
    font-size: 20px;
  }

  ul.weather {
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }

  li.day {
    flex-direction: column;
    width: 100px;
    padding: 10px 10px;
  }

  li.day span {
    font-size: 30px;
  }

  li.day p {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  div.navBar {
    justify-content: center;
    gap: 20%;
  }

  h1.logo {
    font-size: 30px;
  }

  form.search input {
    width: 200px;
    font-size: 22px;
  }

  form.search button {
    padding: 6px 10px;
    font-size: 18px;
  }

  div.content {
    padding: 100px 0;
    gap: 50px;
  }

  div.content p.error {
    font-size: 28px;
  }

  div.content p.loader {
    width: 75px;
    height: 75px;
  }

  div.content p.loader:after {
    width: 75px;
    height: 75px;
  }

  div.city h2 {
    font-size: 28px;
  }

  ul.weather {
    gap: 30px;
  }

  li.day {
    width: 150px;
    height: 200px;
    border-radius: 25px 0px;
  }

  li.day span {
    font-size: 40px;
  }

  li.day p {
    font-size: 22px;
  }
}
